<div class="layout-wr px-3 px-2 px-md-2 ">
  <vnpt-card [vBordered]="false">
    <h4 *ngIf="title" vnpt-typography class="mb-2 mb-md-4">{{ title }}</h4>
    <ng-content> </ng-content>
  </vnpt-card>
</div>
