.contex-actionbar{
  min-height: 40px;
}
.context-actionbar-wrapper {
  background-color: #fafafa;
  z-index: 98;
  padding: 4px 30px;
  position: fixed;
}

.oneui-dropdown-trigger > .ms-Icon {
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .context-actionbar-wrapper {
    padding: 4px 10px;
  }
}

