.breadcrumb-container{
  min-height: 43px;
}
.breadcrumb-wrapper {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  position: fixed;
  top: 42px;
}

.bread-no-link {
  font-weight: 600;
}
